body,h1,h2,h3,h4,h5,h6,p,img,table,tr,td,ul,ol,li,dl,dt,dd{margin:0px;padding:0px;}
body{font-family: "microsoft yahei", '宋体';}
img {border:none;}
a {text-decoration:none;}
ul,ol,li {list-style:none;}
      
      
      /* 公共头部css */
.top_row{
  width: 1000px;
  margin:12px auto 4px;
 *margin:12px auto;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.top_row_l {
  display: inline-block;
  width: 152px;
  height: 38px;
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/logo.jpg) no-repeat;
 float: left;
}
.top_row_r{
  position: relative;
  float: right;
  margin-top: 4px;
}
.top_row_r li{
  float: left;
  list-style: none;
  margin-right: 30px;
}
.top_row_r .top_row_r_icon3{
  margin-right: 0;
}
.top_row_r li span{
  display: inline-block;
  width: 24px;
  height: 30px;
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/syicon1.jpg) no-repeat;
  cursor: pointer;
}
.top_row_r .top_row_r_icon1 p::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 80px;
  width: 0px;
  height: 0px;
  border: 10px solid  #4068b3;
  border-left-color:transparent;
  border-top-color:transparent;
  border-right-color:transparent;
}
/* .top_row_r .top_row_r_icon2 p::before{
  left: 136px;
} */
.top_row_r li p{
  position: absolute;
  top: 40px;
  left: -80px;
  width: 200px;
  padding: 10px;
  /* border: 1px solid red; */
  background: #4068b3;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  display: none;
  z-index: 10;
}
.top_row_r .top_row_r_icon2 p{
  left: 0;
  width:140px;
  height: 140px;
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/syewm.png) center #fff no-repeat;

}
.top_row_r li .active{
  display: block;
}
.top_row_r .top_row_r_icon2 span {
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/syicon2.jpg) no-repeat;
  width: 34px;
}
.top_row_r .top_row_r_icon3 span {
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/syicon3.jpg) no-repeat;
}
/* 公共头部css */


.nian,.qishu{
  display: inline-block;
  color: #4068b3;
  _zoom:1;
  *display:inline;
  margin-right:6px;
}
.nian{
  font-size: 18px;
}
.qishu{
  font-size:26px;
  line-height: 46px;
}
/* 大事首页css */
.middle{
  width: 1100px;
  margin:0 auto ;
  padding: 1px 0;
}
.middle_row1{
  margin:32px auto 14px;
}
.middle_row2{
  background: #fff;
  padding: 32px 80px 38px;
  border-radius: 11px;
  overflow: hidden;
}
.middle_row2_l{
  float: left;
}
.middle_row2_r{
  float: left;
  width: 560px;
  margin-left: 52px;
  overflow:hidden;
}
.middle_row2_r .middle_row2_r_title{
  width: 540px;
  font-size: 20px;
  color: #343434;
  margin: 38px 0  26px;
  text-indent: 2em;
}
.middle_row2_r_img img{
  margin-left: 22px;
  display:block;
  float:left;
}
.middle_row2_r_img img:nth-child(1){
  margin-left: 0;
}
.middle_row3{
  display: block;
  width: 282px;
  height: 68px;
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/start.png ) no-repeat;
  margin: 44px auto 58px;
}
/* 登錄css */
.login_banner{
  width: 100%;
  height: 114px;
  min-width: 1000px;
  background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/20190906stateDepartment/images/login-banner.jpg) top center no-repeat;
  position: relative;
}
.login_banner a{position: absolute;width:300px;height:114px;top:0;left:50%;margin-left:-485px;}
@media (max-width:768px){
  .login_banner a{width:100%;height:100%;left:0;margin-left: 0;}
}
.banner_qishu {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.banner_qishu p,.banner_qishu h1{
  position: absolute;
  color: #335697;
  top: 38px;
  right: 0;
}
.banner_qishu h1{
  top: 35px;
  right: 0;
}
.banner_qishu p{
  top: 50px;
  right: 90px;
}

/* .hImg{
  text-align: center;
}
.hImg img{
   width: 300px;
 }*/
/* 答题 */
.content_box {width:100%;height:100%;background:url(./bgpic.jpg) repeat;padding:20px 0px 60px 0px;display:none;}
@media (max-width:768px){
  .content_box{padding: 10px 0 30px}
 /* .hImg{
    width: 60%;
    margin: 0 auto;
  }
  .hImg img{
    width: 100%;
  }*/
}
      .mid_content {width:1015px;height:auto;overflow:hidden;margin:0px auto;}
      .infor_line {width:1015px;height:35px;line-height:35px;margin:0px auto;margin-bottom:13px;}
      .infor_box {height:auto;overflow:hidden;margin:0px auto;padding-bottom:70px;box-shadow:#CCC;background-color:#fff;border-radius:10px;}
      .question_type {display:inline-block;margin-right:233px;line-height:35px;color:#335697;font-size:24px;}
      span.time {display:inline-block;line-height:35px;color:#52c11f;font-size:18px;}
      span.time img {vertical-align:middle;margin-right:20px;}
      span.facility_value {display:inline-block;float:right;line-height:35px;height:35px;color:#545454;font-size:18px;}
      span.facility_value img {vertical-align:middle;}
      .par_1 {padding:41px 110px 20px 110px;height:auto;overflow:hidden;color:#343434;font-size:24px;text-indent:2em;line-height:35px;font-size:24px;}
    .par_1 span{ display:inline-block;width:36px;height:36px; line-height:36px; text-align:center; margin-right:3px; color:#000; background-color:#ededed; text-indent:0px;cursor: pointer;}

      .par_1 img {float:left;margin-right:50px;}
      
     
      .par_2 {width:794px;margin:0px auto;padding:25px 0px;color:#606060;font-size:24px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-indent:2em;line-height:35px;font-size:24px; margin-bottom:5px;}
       .multiple-topics .option,.single-topic .option,.prompt_box .option {width:794px;margin:0px auto;padding:15px;font-size:22px;clear:both;cursor: pointer; font-style:normal;}
       .prompt_box .option {width:auto;padding: 15px 0;text-indent: 2em;}
      .multiple-topics .option.selected{color:#0035c7;} 
	  .single-topic .option.selected{padding:14px 15px 14px 15px;border:1px solid #a0cff3;border-radius:5px;color:#4969c1; }
      .video_player {width:551px;margin:0 auto;}
     .btn{ display:inline-block;width:303px;height:73px;  line-height:73px; color:#1559a4; font-size:30px; margin-left:360px;margin-top:36px; padding-left:30px; background:url(btnbgpic.jpg) no-repeat;  text-align:center;cursor: pointer;}
      p.radio {width:794px;margin:0px auto;text-align:center;height:80px;line-height:80px;color:#335697;font-size:22px;}
      p.radio span {width:80px;height:80px;padding:0px 15px 0px 15px;line-height:80px;vertical-align:middle;}
      p.radio span img {width:80px;height:80px;line-height:80px;vertical-align:middle;}
      .infor_box span.icon {width:62px;height:62px;padding:60px 0px 20px 0px;text-align:center;display:block;margin:0px auto;}
      .infor_box span.answer {width:100px;height:30px;line-height:30px;padding-bottom:15px;text-align:center;display:block;margin:0px auto;font-size:24px;color:#000000;font-style:normal;}
      .infor_box span.r_answer {width:280px;height:30px;text-align:center;line-height:30px;display:block;margin:0px auto;margin-bottom:45px;font-size:20px;color:#939393;font-style:normal;}
	  .infor_box span.r_answer b{color:green;}
	    .infor_box span.r_answer i{color:red; font-style:normal;}
      .prompt_box {padding:20px 30px;background-color:#f6f9fc;width:820px;margin:0px auto;border-radius:10px;}
      .know {font-size:20px;color:#606060;line-height:35px;font-style:normal;text-indent: 2em;}
      .know b {color:#335697; font-style:normal;}
      .know .c2 {color:#ba1327;}

	  .know var{
		  color:blue;
		  font-style:normal;
	  }
      .prompt_box .pic {text-align:center;margin:0px auto;margin-bottom:30px;}
	  .selective_filling{height:38px; line-height:38px; margin:0px auto; padding:20px 0px 20px 0px; font-size:24px; color:#000;text-align: center;}
	  .selective_filling span{display:inline-block;width:36px;height:36px; line-height:36px; text-align:center; margin-right:3px; vertical-align:middle; background-color:#ededed;cursor: pointer;}
	  .selective_filling span.selected{color:#ddd;cursor:text}

      .answerScore{
      	position: relative;
      }
      .answerScore_header{
      	background: url(./answerScore_header.png) 0 0 no-repeat;
      	height: 212px;
      	position: relative;
      	font-family: "microsoft yahei";
      }
      .answerScore_content{
      	width: 1015px;
      	background-color: #fff;
    		border-radius: 0 0 10px 10px;
    		-moz-border-radius:0 0 10px 10px;
		    -ms-border-radius:0 0 10px 10px;
		    -o-border-radius:0 0 10px 10px;
		    height: 504px;
		    text-align: center;
      }
      .answerScore_header .score{
      	display: block;
      	padding-top: 33px;
      	margin-left: 234px;
      	font-size: 30px;
      	color: #335697;
      	margin-bottom: 20px;
      }
      .answerScore_header .score strong{
      	font-size: 47px;
      }
      .answerScore_header .result{
      	height: 38px;
      	display: inline-block;
      	margin-left: 242px;
      	font-size:22px;
      	color: #fff;
      	background: #a03d49;
      	padding: 0 27px;
      	line-height: 38px;
      	border-radius: 14px;
				-moz-border-radius:14px;
    		-ms-border-radius:14px;
    		-o-border-radius:14px;
    		
      }
      .congratulations{
      	font-family: "microsoft yahei";
      	font-size: 30px;
      	line-height: 29px;
      	color: #343434;
      	padding-top: 87px;
    		padding-bottom: 27px;
      }
      .use_time{
      		font-family: "microsoft yahei";
	      	font-size: 24px;
	      	line-height: 28px;
	      	color: #939393;
      }
      .lucky_draw{
      	text-align: center;
      }
      .lucky_draw .btn{
      	display: inline-block;margin-left: 0;
      	
      }
      .lucky_draw a:hover{

      }
       .lucky_draw .cycj{
       	margin-right: 35px;
       }
       .strategy_hide{display: none !important;}
	   .strategy{position:relative; width:150px; height:31px; line-height:31px; padding-left:25px; display:inline-block; margin-left:100px; background:url(./strategy.jpg) no-repeat 0;  }
      .strategy a{ font-size:18px;color:#1559a4;font-family:"微软雅黑";}
      .strategy p{ position:absolute; width:506px; right:0px; bottom:60px; padding:20px; border-radius:10px; color:#343434; font-size:16px; line-height:25px; border:1px solid #e6e6e4; background-color:#fffdeb;}
      .strategy p b{ display:block; color:#0068b3; font-size:16px;font-family:"微软雅黑";}
      .strategy p span.triangle{ position:absolute; bottom:-33px; right:80px; width:32px;height:33px; background:url(./triangle.jpg) no-repeat; }
      .strategy p span.c1{color:#ba1327;}
      .question_type_mobile{ display:none;}
      .mobile_banner{ display:none;}
      .mobile_footer{ display:none;}
      @media only screen and (max-width:768px) {
		  .strategy{ margin-top:30px;width: auto;margin-left: 50%;transform: translate(-50%)}
		  .back_home{ display:block;color:#939393; text-align:center; font-size:18px; line-height:55px;font-family:"微软雅黑";}
		  .mid_content,.infor_line,span.question_type,span.time,span.facility_value,p.radio {width:100%;}
      .multiple-topics .option, .single-topic .option, .prompt_box .option{font-size:18px; padding:10px;width:96%;box-sizing: border-box;}
      .single-topic .option.selected{padding:10px;}
      .infor_box {overflow:visible; width:100%; padding-bottom:35px;}
      .par_1 {margin:10px auto; clear:both; padding:0px 20px 0px 20px; font-size:18px;line-height:28px }
      .par_2 {width:94%;font-size:18px;line-height:28px;padding:9px 0;margin:11px auto;}
    .btn{ display:block;width:95%;height:73px;  line-height:73px; color:#1559a4; font-size:30px; /*! margin-left:360px; */margin-top:36px; padding-left:30px; background:url(btnbgpic.jpg) no-repeat center;  text-align:center;cursor: pointer;}
      .prompt_box {width:90%;padding:10px;}
      .prompt_box .pic img {width:100%;text-align:center;}
      .infor_line {height:auto;overflow:hidden;}
		  .mid_content,.infor_line,span.question_type,p.radio {width:96%;}
	  .prompt_box .option{width:96%;}
	  span.time{width:52%; float:left;font-size:16px;}
	  span.time img{ margin-right:10px; width:10%;float: left; margin-top: 9px;}
	  span.facility_value{ width:45%;font-size:16px; float:right;}
	  .question_type{ display:none;}
      .infor_box {overflow:visible;}
      .par_1 img {width:50%; height:auto;margin:0px auto;clear:both;text-align:center; float:none; display:block;}
      .prompt_box {width:90%;}
	  .selective_filling{font-size:18px;}
      .prompt_box .pic img {width:100%;text-align:center;}
      .infor_line {height:auto;overflow:hidden;}
	  .question_type_mobile{ display:block;line-height:35px;color:#335697;font-size:18px; padding:15px 0px 15px 10px;}
	  .iframeFooter{ display:none;}
	  .answerScore_header .score strong{ font-size:35px;}
	  .top,.login_banner{ display:none;}
	  .answerScore_header{width:100%;background: url(./answerScore_header.png)  no-repeat left center;
      	position: relative;
      	font-family: "microsoft yahei";border-radius: 12px 12px 0 0;}
		.answerScore_header img{width:100%;}
		 .answerScore_header .score{ text-align:center; font-size:25px;	display: block;
      	padding-top: 58px;
      	/*! margin-left: 234px; */

      	color: #335697;
      	margin-bottom: 20px; margin-left:0px;}
 .answerScore_header .result{
      	height: 38px;
      	display: block;
      	/*! margin-left: 242px; */
      	font-size:18px;
      	color: #fff;
      	background: #a03d49;
      	padding: 0 27px;
      	line-height: 38px;
      	border-radius: 14px;
				-moz-border-radius:14px;
    		-ms-border-radius:14px;
    		-o-border-radius:14px;
    		
      	margin: 0 auto;
      	text-align: center;
      	width: 70%;
      }
      .options{padding:0 4%;}
      .answerScore_content{width:100%; height:auto;}
      .mobile_banner{width:100%; display:block;}
	  	.mobile_banner img{width:100%; display:block;}
		  .btn{margin-left:0px;transform:scale(.8)}
		  .strategy p{left: -112%; width: 282%;}
		  span.facility_value img{width:50%;}
		  .congratulations{font-size:20px;}
		  .mobile_footer{ display:block; width:100%; margin:0px auto; text-align:center; color:#6f6f6f; background-color:#f6f6f6; height:50px; line-height:50px;font-family:"微软雅黑";}
      .know{font-size:18px;line-height: 28.8px;width:96%;margin:auto;}
		  .lucky_draw .btn{ padding-left:40px; margin-left:0px;transform:scale(.8)}
		  .selective_filling{height:auto;}
       .infor_box span.icon {width:100%;height:62px;padding:20px 0px 20px 0px;text-align:center;display:block;margin:0px auto;}
       
       .par_1 i{display: inline-block; width:2em;}
      }

      @media (max-width:340px){
        .strategy p{width:270px;left:-106%}
      }

div.iframeFooter{padding-top:50px}
      .iframeFooter {
        width: 1100px;
        height: 305px;
        margin: 0 auto;
    }
	
	
	
	/* 请选择或填写答案 */
	.selectAnswer{
		text-align: center;
		font-family: '微软雅黑';
    font-size: 22px;
    color: #335697;
	}
	.tktqxt{
		text-align: center;
  }
  
  .tishi{padding-top: 15px;width: 100%;height: 38px;line-height: 38px;font-size: 24px; display: none;text-align: center;}
  /* 修改图 */

.lucky_draw .wxzlsjh{
	/* background: url(2022jyzjhd-bg6.png) no-repeat; */
  background: url(daduchabanner.jpg) no-repeat;
	padding-left: 84px;
	font-size: 20px;
}
.lucky_draw .cxdtbg{
	background: url(cxdtbg.jpg) no-repeat;
	width: 176px;
	height: 38px;
	line-height: 38px;
	color: #939393;
}
.lucky_draw .fhsybg{
	background: url(fhsybg.jpg) no-repeat;
	width: 176px;
	height: 38px;
	line-height: 38px;
	color: #939393;
}
#choujiang{
	padding-left: 46px;
}
@media only screen and (max-width:768px) {
	  .big_img_box .bigImg{
		display: block;
		margin: 40px auto 0;
		width:80%;
	  }
	  .par_1{
		padding: 0 6%;
		text-align: justify;
	  }
	  .infor_box span.answer{
		  width: 100%;
	  }
  
	.lucky_draw .wxzlsjh{
	  padding-left: 5.6em;
    text-align: left;
    font-size: 20px;
	}
	
	#choujiang{
		padding-left: 0;
		text-indent: 3.5em;
	}
	.lucky_draw .cxdtbg{
		    margin: 41px auto 0;
	}
	.lucky_draw .fhsybg{
		margin: 46px auto;
	}
}
@media only screen and (min-width:414px) and (max-width:768px) {
	.lucky_draw .wxzlsjh {
	    padding-left: 5.6em;
	    /* padding-left: 1.6em; */
	}
}
@media only screen and (min-width:320px) and (max-width:374px) {
	#choujiang{
		width: 100%;
	}
	.lucky_draw .wxzlsjh {
		width: 100%;
	    margin-left: -20px;
	}
	
}
